*                       @dwin-gharibi
/src/docscanner/data/   @dwin-gharibi
/src/docscanner/models/ @dwin-gharibi
/src/docscanner/eval/   @dwin-gharibi
/deploy/                @dwin-gharibi
/.github/workflows/     @dwin-gharibi
/Dockerfile*            @dwin-gharibi
